<html>
    {%load static%}
    <head>
        <title> Login </title>
        <link rel="stylesheet" type="text/css" href="{%static 'Login.css'%}">
    </head>

    <body>  
        <form action="login" method="post">
            {%csrf_token%}
            <h2>Login Screen</h2>
            <input type="text" name="Username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Login</button>
        </form>
        <div>
            {%for message in messages%}
                <h2>{{message}}</h2>
            {%endfor%}
        </div>
    </body>

</html>